
<div class="row">
    
    
  
  <!-- Statistics Start -->
  <div class="col-md-12 col-xl-6">
    <app-card [title]="'Statistics'" [classHeader]="true">
      <span class="code-header"><span class="text-muted"><strong> Nombre d'incidents pour chaque Statut</strong></span></span>
      <div id="line-example" class="line-example">
        <div id="IncidentStatut" style="height:300px;">
        </div>
      </div>
    </app-card>
    <!--
    <button style="background-color: white;">
      <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10 12.796L4.519 8 10 3.204v9.592zm-.659.753l-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
      </svg>
    </button>
    <button class="pull-right" style="background-color: white;">
      <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
      </svg>
    </button>-->
  </div>
  <div class="col-md-12 col-xl-6">
    <app-card [title]="'Statistics'" [classHeader]="true">
      <span class="code-header"><span class="text-muted"><strong> Nombre d'incidents pour chaque Region</strong></span></span>
      <div id="line-example" class="line-example">
        <div id="IncidentRegion" style="height:300px;">
        </div>
      </div>
    </app-card>

  </div>

  <div class="col-md-12 col-xl-6">
    <app-card [title]="'Statistics'" [classHeader]="true">
      <span class="code-header"><span class="text-muted"><strong> Nombre d'incidents pour chaque Secteut / Type</strong></span></span>
      <div id="line-example" class="line-example">
        <div id="IncidentSecteurType" style="height:300px;">
        </div>
      </div>
    </app-card>

  </div>

  <div class="col-md-12 col-xl-6">
    <app-card [title]="'Statistics'" [classHeader]="true">
      <span class="code-header"><span class="text-muted"><strong> Nombre d'incidents journaliére</strong></span></span>
      <div id="line-example" class="line-example">
        <div id="IncidentMois" style="height:300px;">
        </div>
      </div>
    </app-card>

  </div>




</div>